@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #24252A;
    
}

/*navs*/
.navs {
    background-color: white;
    z-index: 3;
    height: auto;
  }
  
  .navs li,
  a,
  button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #44474a;
    text-decoration: none;
    padding: 20px;
  }
  
  header {
    display: flex;
    justify-content: center; /* Center the items horizontally */
    align-items: center;
    padding-top: 30px 30%;
  }
  
  .logo {
    cursor: pointer;
    align-items: center;
  }
  
  .navlink {
    list-style: none;
  }
  
  .navlink li {
    display: inline-block;
    padding: 0px 40px;
  }
  
  .navlink li a {
    transition: all 0.3s ease 0s;
  }
  
  .navlink li a:hover {
    color: #d12149;
    text-decoration: none;
  }
  
  button {
    padding: 9px 25px;
    color: white;
    background-color: #d12149;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }
  
  /* Media Queries */
  @media screen and (max-width: 768px) {
    header {
      flex-direction: column;
      align-items: left; /* Center the items vertically */
      padding-top: 20px;
    }

    .logo{
        padding-bottom: 20px;
        align-items: center;
        margin-left: 40px;
    }
  
    .navlink li {
        text-align: center;
      display: block;
      padding: 10px 0;
    }
  
    button {
        
      padding: 7px 20px;
      margin-left: 40px;
      margin-top: 10px;
    }
  }



.containers{
    /* height: 500px; */
    margin: auto;
    /* background-color: rgba(0,0,0,0.5); */
    width: 80%;
    
    color: white;
    
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
}



.it2{
    margin-top: 50px;
    background-color:#24252A;
     width: 50%;
     box-sizing: border-box;

}


.it2 h2,strong{
    color: #D12149;
}

@media screen and (max-width: 768px) {
  .it2{

     width: 100%;

}
.ev{
  margin-left: 20px;
  padding-left: 40px;
}
}
