
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');


body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #24252A;
    /* scroll-behavior: smooth; */
}


/*navs*/
.navs {
  background-color: white;
  z-index: 3;
  height: auto;
}

.navs li,
a,
button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #44474a;
  text-decoration: none;
  padding: 20px;
}

header {
  display: flex;
  justify-content: center; /* Center the items horizontally */
  align-items: center;
  padding-top: 30px 30%;
}

.logo {
  cursor: pointer;
  align-items: center;
}

.navlink {
  list-style: none;
}

.navlink li {
  display: inline-block;
  padding: 0px 40px;
}

.navlink li a {
  transition: all 0.3s ease 0s;
}

.navlink li a:hover {
  color: #d12149;
  text-decoration: none;
}

button {
  padding: 9px 25px;
  color: white;
  background-color: #d12149;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

/* Media Queries */
@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: left; /* Center the items vertically */
    padding-top: 20px;
  }

  .logo{
      padding-bottom: 20px;
      align-items: center;
      margin-left: 40px;
  }

  .navlink li {
      text-align: center;
    display: block;
    padding: 10px 0;
  }

  button {
      
    padding: 7px 20px;
    margin-left: 40px;
    margin-top: 10px;
  }
}



.container{
  margin-top: 40px;
  margin-bottom: 20px;
  
  max-width: 80vw;
 

  display: grid;
  grid-gap: 2rem;

  

  grid-template-areas: 
  "item-1 item-1 item-2 "
  "item-3 item-4 item-2"
  "item-5 item-5 item-6";

  grid-auto-rows: 300px;

  


}

.container .item:nth-child(1){grid-area: item-1;}
.container .item:nth-child(2){grid-area: item-2;}
.container .item:nth-child(5){grid-area: item-5;}


.item{

  background-color: #eee;
 
  
  position: relative;
  /* padding: 10px; */
  font-size: 20px;
}

.item img{
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.container p {
  color: white;
  font-weight: bold;
  position: absolute;
  bottom: 0;
  margin: 20px;
  -webkit-text-stroke: 0.5px black; 
}
span{
  color: rgba(255, 255, 255, 0.7);
  font-size: 1vw;
}

@media screen and (max-width: 768px){
  
.container{
  grid-template-columns: repeat(1,1fr);
  grid-template-areas: 
  "item-1 "
  "item-2 ";
}
span{
  color: rgba(255, 255, 255, 0.7);
  font-size: 4vw;
}
}