@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #24252A;
    
}
/*navs*/
.navs {
    background-color: white;
    z-index: 3;
    height: auto;
    justify-content: space-between;
    padding: 0px 150px;
  }
  
  .navs li,
  a,
  button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #44474a;
    text-decoration: none;
    
  }
  
  header {
    display: flex;
    justify-content: center; /* Center the items horizontally */
    align-items: center;
    padding-top: 30px 30%;
  }
  
  .logo {
    cursor: pointer;
    align-items: center;
  }
  
  .navlink {
    list-style: none;
  }
  
  
  
  .navlink li {
    display: inline-block;
    padding: 0px 40px;
  }
  
  .navlink li a {
    transition: all 0.3s ease 0s;
  }
  
  .navlink li a:hover {
    color: #d12149;
    text-decoration: none;
  }
  
  
  
  
  .pfpimg{
      width: 50px;
      margin: 10px;
  }
    
  .pfpimgb{
        border-radius: 50%;
        border: solid 2px #D12149 ;
  }
  
  /* Media Queries */
  @media screen and (max-width: 768px) {
    header {
      flex-direction: column;
      align-items: left; /* Center the items vertically */
      padding-top: 20px;
    }
  
    .logo{
        padding-bottom: 20px;
        align-items: center;
        margin-left: 40px;
    }
  
    .navlink li {
        text-align: center;
      display: block;
      padding: 10px 0;
    }
  
    button {
        
      padding: 7px 20px;
      margin-left: 40px;
      margin-top: 10px;
    }
    .pfpimg{
     margin-left: 40px;
  }
    
  }


.container{
    padding: 10px;
    display: grid; 
    grid-template-columns: repeat(auto-fill,minmax(350px,1fr)); 
    margin-top: 1rem;
}

.card{
    border:1px solid black ;
    padding: .5rem;
    border-radius: 15px;
    
}

.card > .header{
    margin-bottom: .25rem;
    color: white;
}

.card > .body{
    margin-bottom: .25rem;
    color: white;
}

.hide{
    display: none;
}

button{
        padding: 9px 25px;
        color: white;
        background-color: #d12149;
        border: none;
        border-radius: 50px;
        cursor: pointer;
        transition: all 0.3s ease 0s;
}


    
body {
    background: rgb(150,1,1);
    background: linear-gradient(90deg, rgba(150,1,1,1) 0%, rgba(122,7,7,1) 35%, rgba(43,43,43,1) 100%);
    }
.posts{
    border:3px solid #D12149;
    border-radius:20px ;
    padding : 10px;
    box-shadow: 7px 7px 5px #D12149;
    }
.posts p{
    margin-left:20px;
}

h5{
    color: #D12149;
}

.posts i{
    color: #D12149;
}

.pfp{  
    margin-top:20px;
    border-radius: 50%;
    border: solid 5px #D12149 ;
    }
