body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #24252A;
    /* background-color: #24252A; */
    /* scroll-behavior: smooth; */
}

.container{
 background-color: aliceblue;
 margin: auto;
 margin-top: 20px;
 padding: 40px;
 width: 80%;
 border-radius: 20px;
 border: #D12149 solid 4px;
 font-size: 1.3vw;
}

/* input{
    margin-bottom: 30px;
} */

select{
    justify-content: center;
    text-align: center;
    font-size: 1.2vw;
    width: 60vh;
}

input{
    height: 3vh;
    
}

textarea{
    margin-top: 20px;
    width: 80vh;
    padding: 10px;
   
}
.q{
    margin-bottom: 5vh;
}
@media screen and (max-width: 768px) {
    label{
        font-size: 16px;
    }
    textarea{
        
        width: 70vw;
        padding: 10px;
       
    }
    select{
        font-size: 15px;
        height: 3vh;
        width: 80vw;
    }
    
}






/*navs*/
.navs {
    background-color: white;
    z-index: 3;
    height: auto;
  }
  
  .navs li,
  a,
  button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #44474a;
    text-decoration: none;
    padding: 20px;
  }
  
  header {
    display: flex;
    justify-content: center; /* Center the items horizontally */
    align-items: center;
    padding-top: 30px 30%;
  }
  
  .logo {
    cursor: pointer;
    align-items: center;
  }
  
  .navlink {
    list-style: none;
  }
  
  .navlink li {
    display: inline-block;
    padding: 0px 40px;
  }
  
  .navlink li a {
    transition: all 0.3s ease 0s;
  }
  
  .navlink li a:hover {
    color: #d12149;
    text-decoration: none;
  }
  
  button {
    padding: 9px 25px;
    color: white;
    background-color: #d12149;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }
  
  /* Media Queries */
  @media screen and (max-width: 768px) {
    header {
      flex-direction: column;
      align-items: left; /* Center the items vertically */
      padding-top: 20px;
    }
  
    .logo{
        padding-bottom: 20px;
        align-items: center;
        margin-left: 40px;
    }
  
    .navlink li {
        text-align: center;
      display: block;
      padding: 10px 0;
    }
  
    button {
        
      padding: 7px 20px;
      margin-left: 40px;
      margin-top: 10px;
    }
  }
  
  