@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #24252A;
    /* scroll-behavior: smooth; */
}

/*navs*/
.navs {
    background-color: white;
    z-index: 3;
    height: auto;
  }
  
  .navs li,
  a,
  button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #44474a;
    text-decoration: none;
    padding: 20px;
  }
  
  header {
    display: flex;
    justify-content: center; /* Center the items horizontally */
    align-items: center;
    padding-top: 30px 30%;
  }
  
  .logo {
    cursor: pointer;
    align-items: center;
  }
  
  .navlink {
    list-style: none;
  }
  
  .navlink li {
    display: inline-block;
    padding: 0px 40px;
  }
  
  .navlink li a {
    transition: all 0.3s ease 0s;
  }
  
  .navlink li a:hover {
    color: #d12149;
    text-decoration: none;
  }
  
  button {
    padding: 9px 25px;
    color: white;
    background-color: #d12149;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }
  
  /* Media Queries */
  @media screen and (max-width: 768px) {
    header {
      flex-direction: column;
      align-items: left; /* Center the items vertically */
      padding-top: 20px;
    }

    .logo{
        padding-bottom: 20px;
        align-items: center;
        margin-left: 40px;
    }
  
    .navlink li {
        text-align: center;
      display: block;
      padding: 10px 0;
    }
  
    button {
        
      padding: 7px 20px;
      margin-left: 40px;
      margin-top: 10px;
    }
  }

  
/*headcontent*/
.content{
    color: white;
    height:500px ;
}
.content a{
    background-color: #D12149;
    padding: 20px;
    text-decoration: none;
    color: white;
    border-radius: 50px;
}




/*aboutus*/
.About-us{
    background-color: white;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: auto;
    display: flex;
    color: white;
    flex-wrap: wrap;
    justify-content: center; /* Add this line */
    align-items: center; /* Add this line */
}

.abtcnt{
   justify-content: center;
    width: 40vw;
}

.abtcnt h2{
    color: black;
    font-size: 40px;
    line-height: 45px;
    font-weight: 600;
    padding-bottom: auto;
}

.abtcnt p{
    color:#D12149;
    font-weight: 500;
    width: 82%;
    line-height: 1.5;
}

.abtimg{
    width: 500px;
    height: 300px;
}


@media screen and (max-width: 768px) {
    .abtcnt{
        margin-left: 40px;
         width: 70vw;
         text-align: center;
     }
     .abtcnt h2{
        margin-right: 90px;
     }
    .abtcnt p{
       
        font-weight: 500;
        width: 80%;
        line-height: 1.5;
    }
    .abtimg{
        width: 300px;
        height: 300px;
    }
    
}





/*WhyBenfi*/
.WhyBenfi{
    background-color: blue;
    color: white;
    background-image: url("../img/Why.jpeg");
    background-size:100%  100%;
    height: 90vh;  
    background-repeat: no-repeat;
    position: relative;
}
.lyr2{
    background-color: rgba(209,33,73,0.7);
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 80%;
    margin: auto;
}

.it1{
    justify-content: center;
    text-align: center;
    margin: auto;
    width: 350px;
}

.it1 a{
    text-decoration: none;
    color:white;
}

.it2{
    justify-content: center;
    text-align: center;
    margin: auto;
    font-size: 150px;
    font-weight: 900;
    color:#44474A;
    line-height:120px;
    width: 350px;
}
.it3{
    justify-content: center;
    text-align: center;
    margin: auto;
    width: 350px;
}
@media screen and (max-width: 768px) {
    .it2{
        padding: 20px 0px;
    }
    .WhyBenfi{
        height: 100vh;
    }
}


/*contact*/
.contact{
    /* background-color: blue; */
}

.cont{
    width: 80%;
    margin: auto;
    /* background-color: red; */
   padding-top: 50px;
    display: flex;
    flex-wrap:wrap;
    color: white;
    grid-column-gap: 20px;
    
}

.ABOUTAGENCY{
    width: 400px;
}
.NAVIGATIONLINKS{
    width: 300px;
}
.INSTAFEED{
    margin-left: 70px;
    width: 400px;
}

.cont p{
    padding-right: 30%;
}

.cont a{
    color: white;
    text-decoration: none;
    list-style-type: none;
}

ul {
    list-style-type: none;
   
  
  } 

.lis{
    display: grid;
    grid-template-columns: 1fr 1fr ;
}

.lis li{
margin-left: -50px;
}

@media screen and (max-width: 768px){
    .INSTAFEED{
        margin-left: 0px;
        
    }
}





/*last*/
.last{
    height: 50px;
    
}
.lastcont{
    padding: 10px;
    border-top: #D12149 solid 2px;
    color: white;
    width: 80%;
    margin: auto;
    text-align: center;
}
.lastcont i,span{
    color: #D12149;
}




