@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
/* * {
    box-sizing: border-box;
  } */
  body {
    padding: 0;
    margin: 0;
    background-color: #24252A;
    
  } 

/*navs*/
.navs {
  background-color: white;
  z-index: 3;
  height: auto;
}

.navs li,
a,
button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #44474a;
  text-decoration: none;
  padding: 20px;
}

header {
  display: flex;
  justify-content: center; /* Center the items horizontally */
  align-items: center;
  padding-top: 30px 30%;
}

.logo {
  cursor: pointer;
  align-items: center;
}

.navlink {
  list-style: none;
}

.navlink li {
  display: inline-block;
  padding: 0px 40px;
}

.navlink li a {
  transition: all 0.3s ease 0s;
}

.navlink li a:hover {
  color: #d12149;
  text-decoration: none;
}

button {
  padding: 9px 25px;
  color: white;
  background-color: #d12149;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

/* Media Queries */
@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: left; /* Center the items vertically */
    padding-top: 20px;
  }

  .logo{
      padding-bottom: 20px;
      align-items: center;
      margin-left: 40px;
  }

  .navlink li {
      text-align: center;
    display: block;
    padding: 10px 0;
  }

  button {
      
    padding: 7px 20px;
    margin-left: 40px;
    margin-top: 10px;
  }
}


 
  
.container {
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: repeat(3,1fr);
    margin:auto;
    
   
  }
  
  .card {
    margin: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
    width: 350px;
    
  }
  
  .card-header img {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
  
  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    min-height: 150px;
    padding: 20px;
    margin-right: 10px; /* Add margin-right to create spacing on the right */
    overflow-wrap: break-word; /* or word-break: break-word; */
  }

  .card-body h5{
    margin-bottom: 0px;
  }
  

  
  .card-body p  {
    max-width: 100%;
    margin-right: 0;
    white-space: normal;
    overflow: visible;
    text-overflow: clip;
  }


  .details{
    margin-top: 0;
    font-size: 1vw;
    color: rgba(0, 0, 0, 0.6);
  }

  @media screen and (max-width: 768px) {
    .card {
      width: 100%;
    }
  }