@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #24252A;
    
}


/*navs*/
.navs {
    background-color: white;
    z-index: 3;
    height: auto;
    justify-content: space-between;
    padding: 0px 150px;
  }
  
  .navs li,
  a,
  button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #44474a;
    text-decoration: none;
    
  }
  
  header {
    display: flex;
    justify-content: center; /* Center the items horizontally */
    align-items: center;
    padding-top: 30px 30%;
  }
  
  .logo {
    cursor: pointer;
    align-items: center;
  }
  
  .navlink {
    list-style: none;
  }
  
  
  
  .navlink li {
    display: inline-block;
    padding: 0px 40px;
  }
  
  .navlink li a {
    transition: all 0.3s ease 0s;
  }
  
  .navlink li a:hover {
    color: #d12149;
    text-decoration: none;
  }
  
  
  
  
  .pfpimg{
      width: 50px;
      margin: 10px;
  }
    
  .pfpimgb{
        border-radius: 50%;
        border: solid 2px #D12149 ;
  }
  
  /* Media Queries */
  @media screen and (max-width: 768px) {
    header {
      flex-direction: column;
      align-items: left; /* Center the items vertically */
      padding-top: 20px;
    }
  
    .logo{
        padding-bottom: 20px;
        align-items: center;
        margin-left: 40px;
    }
  
    .navlink li {
        text-align: center;
      display: block;
      padding: 10px 0;
    }
  
    button {
        
      padding: 7px 20px;
      margin-left: 40px;
      margin-top: 10px;
    }
    .pfpimg{
     margin-left: 40px;
  }
    
  }

.applysection{
 
    background-color: white;
    width:55%;
    margin: auto; 
    z-index: 1;
    margin-top: 50px;
    text-align: center;
    justify-content: center;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
   
}

.applysection h2{
    text-align: center;
    margin: auto;
    font-family: sans-serif;
    justify-content: center;
    color: #D12149;
    font-size: 3.4rem;
    max-width: 50.2rem;;
    font-weight: 400;
    text-align: center;

}



.applysection button{
    margin-right: 20%;
    padding: 9px 25px;
    color: white;
    background-color: #D12149;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    margin-bottom: 30px;

}

.applysection {
    /* ...existing styles... */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-container {
    margin-bottom: 30px;
    margin-top: 20px;
}

.button-container {
    margin-left: 30px;
    width: 100%;
  
}

.file-input{
    margin-left: 30px;
}

.applysection input{
    width: 60%;
}

.input{
    margin-bottom: 30px;
}

.input input{
    
    height: 20px;
}


.input-file{
    color: aliceblue;
    border-radius: 20px;
    padding: 10px;
    background-color: #D12149;
}

@media screen and (max-width: 768px) {
    .button-container {
        margin: auto;
    }
}