@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #24252A;
    
}
/*navs*/
.navs {
    background-color: white;
    z-index: 3;
    height: auto;
    justify-content: space-between;
    padding: 0px 150px;
  }
  
  .navs li,
  a,
  button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #44474a;
    text-decoration: none;
    
  }
  
  header {
    display: flex;
    justify-content: center; /* Center the items horizontally */
    align-items: center;
    padding-top: 30px 30%;
  }
  
  .logo {
    cursor: pointer;
    align-items: center;
  }
  
  .navlink {
    list-style: none;
  }
  
  
  
  .navlink li {
    display: inline-block;
    padding: 0px 40px;
  }
  
  .navlink li a {
    transition: all 0.3s ease 0s;
  }
  
  .navlink li a:hover {
    color: #d12149;
    text-decoration: none;
  }
  
  
  
  
  .pfpimg{
      width: 50px;
      margin: 10px;
  }
    
  .pfpimgb{
        border-radius: 50%;
        border: solid 2px #D12149 ;
  }
  
  /* Media Queries */
  @media screen and (max-width: 768px) {
    header {
      flex-direction: column;
      align-items: left; /* Center the items vertically */
      padding-top: 20px;
    }
  
    .logo{
        padding-bottom: 20px;
        align-items: center;
        margin-left: 40px;
    }
  
    .navlink li {
        text-align: center;
      display: block;
      padding: 10px 0;
    }
  
    button {
        
      padding: 7px 20px;
      margin-left: 40px;
      margin-top: 10px;
    }
    .pfpimg{
     margin-left: 40px;
  }
    
  }


.body{
    font-size: 0.8em;
}


label{
    margin-top: 30px;
   font-size: 40px;
}

.cont{
  color:#D12149;
    width: 80%;
    margin: auto;
    justify-content: center;
    text-align: center;
    
}


.search-wrapper{
   display: flex;
   flex-direction: column;
   gap: .25rem;
   padding: 10px;
}

.container{
    padding: 10px;
    display: flex; 
    flex-wrap: wrap;
    margin-top: 1rem;
    justify-content: center;
}


.card{
    width: 300px;
    margin: 20px;
    border:1px solid black ;
    padding: .5rem;
    border-radius: 15px;
}

.card > .header{
    margin-bottom: .25rem;
    color: white;
}

.card > .body{
    margin-bottom: .25rem;
    color: white;
}

.hide{
    display: none;
}

.img{
 width: 50px;
 margin: 10px;
 border-radius: 50%;
 border: solid 2px #D12149 ;   
}



/* Newinput CCS  */
.body2{
    height: 100px;
    margin: 0; 
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    align-content: center;
}
.box{
    position: relative;
}

.input {
    padding: 10px;
    width: 80px;
    height: 80px;
    background: none;
    border: 4px solid #D12149;
    border-radius: 50px;
    box-sizing: border-box;
    font-family: Comic Sans MS;
    font-size: 26px;
    color: #D12149;
    outline: none;
    transition: .5s;
    
}


.box:hover input{
    width: 350px;
    background: #3b3640;
    border-radius: 10px;
}
 .box i{
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translate(-50%,-50%);
    font-size: 26px;
    color: #D12149;
    transition: .2s;
} 
.box:hover i{
    opacity: 0;
    z-index: -1;
}

