


body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #24252A;
    /* scroll-behavior: smooth; */
}

/*Navbar*/
.navs{
  background-color: white;
  z-index: 3;
  width: 90%;
  margin: auto;
  border-radius:20px ;
  height: 80px;
}
.navs li,a,button{
  font-family: "Montserrat",sans-serif;
  font-weight: 500;
  font-size: 16px;
  color:#44474A;
  text-decoration: none;
  padding: 20px;
}
header{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 30px 30%;
}
.logo{
  cursor: pointer;
  /* margin-right: auto; */

}
.navlink{
  list-style: none;
}
.navlink li{
display: inline-block;
padding: 0px 20px;
}
.navlink li a{
  transition: all 0.3s ease 0s;
  
}
.navlink li a:hover{
  color: #D12149;
  text-decoration: none;
}
header button{
  padding: 9px 25px;
  color: white;
  background-color: #D12149;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.container{
  margin-top: 40px;
  margin-bottom: 20px;
  
  max-width: 80vw;
 

  display: grid;
  grid-gap: 2rem;

  grid-template-rows:repeat(2,300px) ;
  grid-template-columns: repeat(3,1fr);

  grid-template-areas: 
  "item-1 item-1 item-2 "
  "item-3 item-4 item-2"
  "item-5 item-5 item-6";

  grid-auto-rows: 300px;

  


}

.container .item:nth-child(1){grid-area: item-1;}
.container .item:nth-child(2){grid-area: item-2;}
.container .item:nth-child(5){grid-area: item-5;}

 /* .item-3{grid-area: item-3;} */
/* .item-4{grid-area: item-4;}  */



.item{

  background-color: #eee;
 
  
  position: relative;
  /* padding: 10px; */
  font-size: 20px;
}

.item img{
  object-fit: cover;
  width: 100%;
  height: 100%;
}


.container p {
  color: white;
  font-weight: bold;
  position: absolute;
  bottom: 0;
  margin: 15px;
  -webkit-text-stroke: 0.5px black; 
}